<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>$$$TITLE$$$</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/locations">Locations</a>
      <a href="/years">Years</a>
      <a href="/types">Types</a>
      <a href="/charts">Charts</a>
    </nav>
    <main>
      <h1>$$$TITLE$$$</h1>
      <h3>$$$SUBTITLE$$$</h3>

      <!-- Visual area for charts and images -->
      <section class="media">$$$MEDIA$$$</section>

      <!-- Text area -->
      <section class="content">$$$BODY$$$</section>

      <!-- nav links -->
      <nav class="pager">$$$NAV$$$</nav>
    </main>
  </body>
</html>
